<meta HTTP-EQUIV="REFRESH" content="5; url=http://127.0.0.1:3000/categories">
<p data-turbolinks="false">
  Has eliminat la categoria correctament. La pagina es redirigirar automaticament en 5 segons o menys.
</p>