<div class="main" data-turbolinks="false">
  <div class="container">
    <hr style="border-color:white;">
    <h2><%=t :cat %></h2>
    <% @categories.uniq.each do |p| %>
      <div class="category" data-turbolinks="false">
        <h3> <%= p.name %> </h3 >
        <%if admin_signed_in?%>
          <%= link_to t("mod_cat_uniq"), '/categories/'+p.id.to_s+'/edit'%>
          <%= link_to t("elim_cat"), category_path(p) , method: :delete, data: { confirm: t("confirm") }%>
        <%end %>
      </div>
    <%end %>
  </div>
</div>